{%  extends "pages/base.jinja" %}

{% block title %} Flask and SupaBase Demo - single thing {% endblock%}

{% block content %} 
    <section id ="hero">
        <h1>Hello!!!</h1> 
    </section>

    <section id="things">

        
        <article>
        
            <header>
                {{ thing["name"] }}
            </header>
        
            cost ${{ thing["cost"] }} <br>

            Descrtiption: {{ thing["description"] }} <br>

            Epicness: {{ thing["epicness level"] }}
        
            <footer>
                <a href="/">Back</a>
                
                Delete
                
            </footer>
        
        
        </article>

    </section>

{% endblock %}