#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pico-primary-background);
    min-height: 10rem;
}

#hero h1 {
    font-family: cursive;
}

#things {
    display: flex;
    gap: 5rem,;
    padding: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: max-content;
}

#things footer a {
    color: white;
}

#things footer a::hover {
    color: green;
}